/** @format */

.social-icon {
  width: 35px;
  font-size: 25px;
}

.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
}

h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
background-color: #ccc;
}

/* button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
border-radius: 20px;
} */

button:hover {
  background-color: #0056b3;
}

.separator {
  text-align: center;
  margin: 20px 0;
}

.social-buttons {
  display: flex;
  justify-content: space-between;
}

.social-buttons button {
  width: 48%;
}
/* ... Other CSS rules ... */

.social-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48%;
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.social-buttons button:hover {
  background-color: #0056b3;
}

.social-icon {
  font-size: 24px;
  margin-right: 8px;
}

/* ... Other CSS rules ... */
